
* { box-sizing: border-box }

table#calendar {
  margin: 0 auto;
  border-spacing: 3px;
}

table#calendar td {
  border: none;
  width: 7px;
  height: 7px;
}

table#calendar td.past { background-color: grey }
table#calendar td.current { background-color: red }
table#calendar td.future { background-color: yellow }
